{namespace view.context}

/**
 * Search context view.
 */
{template .searchContextTemplate}
  <div class='context' id='search-context'>
    {call searchBarTemplate /}
    {call searchInfoTemplate /}
  </div>
{/template}

/**
 * The search bar.
 */
{template .searchBarTemplate private="true"}
  <div id='search-bar'>
    <input id='search-bar-input'>
  </div>
{/template}

/**
 * The search info box.
 */
{template .searchInfoTemplate private="true"}
  <div id='search-info'>

  </div>
{/template}
