{namespace view.context.templates}

/**
 * Search context view.
 */
{template .searchContext}
    {call .searchBar_ /}
    {call .searchInfo_ /}
{/template}

/**
 * The search bar.
 */
{template .searchBar_ private="true"}
  <div id='search-bar'>
    <input id='search-bar-input'>
  </div>
{/template}

/**
 * The search info box.
 */
{template .searchInfo_ private="true"}
  <div id='search-info'>

  </div>
{/template}
